<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Page intial</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet" type="text.css">
    </head>
    <body>
        <a href="/Usuario/Cadastrar">Cadastrar</a>
        <a href="/Usuario/FazerLogin">FazerLogin</a>
        <!--Armazena o conteúdo para uso em outras páginas-->
       @RenderBody() 
       <footer>
           Desenvolvido por Senai
       </footer>
    </body>
</html>