@{
    Layout = "MasterPageDeslogado";
}

<h1>Fazer Login</h1>
<form action="/Usuario/FazerLogin">
<p>Email</p>
<label>
    <input type="text" required="true">
    </label>
<p>Senha</p>
<label>
    <input type="password" required="true">
    </label>    
    <input type="submit" value="FazerLogin">
</form>